In [1]:
import pandas as pd
from  datetime import  date
import  numpy as np
se2=pd.read_csv(
    'se2.csv',
    index_col='Date',names=['Date','num'])
print(se2.index)
print(type(se2.index[0]))
print(se2.__class__)
print('顯示資料類型')
print(se2.dtypes)
print(se2)
print('計算每個月資料總和，為什麼異常?')
se2M=se2.resample('M').sum()
print(se2M)

Index(['2023/5/28', '2023/5/29', '2023/5/30', '2023/5/31', '2023/6/1',
       '2023/6/2', '2023/6/3', '2023/6/4', '2023/6/5', '2023/6/6',
       ...
       '2023/12/4', '2023/12/5', '2023/12/6', '2023/12/7', '2023/12/8',
       '2023/12/9', '2023/12/10', '2023/12/11', '2023/12/12', '2023/12/13'],
      dtype='object', name='Date', length=200)
<class 'str'>
<class 'pandas.core.frame.DataFrame'>
顯示資料類型
num    int64
dtype: object
            num
Date
2023/5/28     1
2023/5/29     2
2023/5/30     3
2023/5/31     4
2023/6/1      5
...         ...
2023/12/9   196
2023/12/10  197
2023/12/11  198
2023/12/12  199
2023/12/13  200

[200 rows x 1 columns]
計算每個月資料總和，為什麼異常?

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [2]:
import pandas as pd
from  datetime import  date
import  numpy as np
se2=pd.read_csv(
    './se2.csv',
    names=['Date','num'])
print('顯示索引1')
print(se2.index)
print('顯示資料類型1')
print(se2.dtypes)
print(se2)
se2['Date']=pd.to_datetime(se2['Date'])
print('顯示資料類型2')
print(se2.dtypes)
se2.set_index('Date',inplace=True)#修改目前se2
print('顯示索引2')
print(se2.index)
print(se2)
print('計算每個月資料總和')
se2M=se2.resample('M').sum()
print(se2M)

顯示索引1
RangeIndex(start=0, stop=200, step=1)
顯示資料類型1
Date    object
num      int64
dtype: object
           Date  num
0     2023/5/28    1
1     2023/5/29    2
2     2023/5/30    3
3     2023/5/31    4
4      2023/6/1    5
..          ...  ...
195   2023/12/9  196
196  2023/12/10  197
197  2023/12/11  198
198  2023/12/12  199
199  2023/12/13  200

[200 rows x 2 columns]
顯示資料類型2
Date    datetime64[ns]
num              int64
dtype: object
顯示索引2
DatetimeIndex(['2023-05-28', '2023-05-29', '2023-05-30', '2023-05-31',
               '2023-06-01', '2023-06-02', '2023-06-03', '2023-06-04',
               '2023-06-05', '2023-06-06',
               ...
               '2023-12-04', '2023-12-05', '2023-12-06', '2023-12-07',
               '2023-12-08', '2023-12-09', '2023-12-10', '2023-12-11',
               '2023-12-12', '2023-12-13'],
              dtype='datetime64[ns]', name='Date', length=200, freq=None)
            num
Date
2023-05-28    1
2023-05-29    2
2023-05-30    3
2023-05-31    4
2023-06-01    5
...         ...
2023-12-09  196
2023-12-10  197
2023-12-11  198
2023-12-12  199
2023-12-13  200

[200 rows x 1 columns]
計算每個月資料總和
             num
Date
2023-05-31    10
2023-06-30   585
2023-07-31  1550
2023-08-31  2511
2023-09-30  3345
2023-10-31  4402
2023-11-30  5175
2023-12-31  2522

## 判斷遺失值產生原因
+ 有些資訊是暫時無法讀取。
+ 有些資訊是被遺漏。
+ 有些對象的某些屬性特徵是不存在。
+ 有些資訊被認為不重要。
+ 操作這些資訊的代價太大而被遺棄。

In [1]:
import pandas as pd
import  numpy as np
from io import  StringIO
csv_data='''
A,B,C,D
1.0,2.0,3.5,4
5.5,34,3.4
10,,11.5,8.5
'''
data1=pd.read_csv(StringIO(csv_data))
print(data1)

      A     B     C    D
0   1.0   2.0   3.5  4.0
1   5.5  34.0   3.4  NaN
2  10.0   NaN  11.5  8.5

In [5]:
import pandas  as pd
import numpy as np
df=pd.read_csv('./2017.csv',encoding='utf-8-sig')
#print(df)
print('將資料轉換為html，以便查看')
html=df.to_html()
with open('work1.html','w',encoding='utf-8') as file:
    file.writelines('<meta charset="utf-8">\n')
    file.write(html)
df=df.replace('—',np.NaN)
df=df.replace('…',np.NaN)
html=df.to_html()
with open('work2.html','w',encoding='utf-8') as file:
    file.writelines('<meta charset="utf-8">\n')
    file.write(html)
print(df.isnull().sum())

將資料轉換為html，以便查看
年度                     0
行業別                    0
經常性薪資-薪資               0
經常性薪資-女/男              0
專業人員-薪資                2
專業人員-女/男              14
技術員及助理專業人員-薪資          2
技術員及助理專業人員-女/男         6
事務支援人員-薪資              0
事務支援人員-女/男             1
服務及銷售工作人員-薪資          16
服務及銷售工作人員-女/男         25
技藝_機械設備操作及組裝人員-薪資     13
技藝_機械設備操作及組裝人員-女/男    22
基層技術工及勞力工-薪資          17
基層技術工及勞力工-女/男         33
dtype: int64

In [2]:
import pandas as pd
import  numpy as np
from io import  StringIO
csv_data='''
A,B,C,D
1.0,2.0,x,4
5.5,34,3.4,x
10,x,11.5,8.5
'''
data3=pd.read_csv(StringIO(csv_data))
print(data3)

print(data3.count())
data3=data3.replace('x',np.NaN)
print(data3.count())

print(data3.isnull().any())#重要
print(data3.isnull().sum())#重要

print("="*70)
print(data3)
print("type:",type(data3.loc[0,"B"]) )
print("======================")
print("mean:")
print(data3.mean())

      A    B     C    D
0   1.0  2.0     x    4
1   5.5   34   3.4    x
2  10.0    x  11.5  8.5
A    3
B    3
C    3
D    3
dtype: int64
A    3
B    2
C    2
D    2
dtype: int64
A    False
B     True
C     True
D     True
dtype: bool
A    0
B    1
C    1
D    1
dtype: int64
======================================================================
      A    B     C    D
0   1.0  2.0   NaN    4
1   5.5   34   3.4  NaN
2  10.0  NaN  11.5  8.5
type: <class 'str'>
======================
mean:

TypeError: can only concatenate str (not "int") to str

In [4]:
import pandas as pd
import  numpy as np
from io import  StringIO
csv_data='''
A,B,C,D
1.0,2.0,x,4
5.5,34,3.4,x
10,x,11.5,8.5
'''
data3=pd.read_csv(StringIO(csv_data))
print(data3)
data3=data3.replace('x',np.NaN)
print(data3)
for x in data3:
    # print("===="*70)
    # print(f"{x}:",data3[x])
    if data3[x].dtype=='object':
        data3[x]=data3[x].astype('float64')
print("mean:")        
print(data3.mean())
print(data3.count())
print(data3.isnull().any())
print(data3.isnull().sum())

      A    B     C    D
0   1.0  2.0     x    4
1   5.5   34   3.4    x
2  10.0    x  11.5  8.5
      A    B     C    D
0   1.0  2.0   NaN    4
1   5.5   34   3.4  NaN
2  10.0  NaN  11.5  8.5
========================================================================================================================================================================================================================================================================================
A: 0     1.0
1     5.5
2    10.0
Name: A, dtype: float64
========================================================================================================================================================================================================================================================================================
B: 0    2.0
1     34
2    NaN
Name: B, dtype: object
========================================================================================================================================================================================================================================================================================
C: 0     NaN
1     3.4
2    11.5
Name: C, dtype: object
========================================================================================================================================================================================================================================================================================
D: 0      4
1    NaN
2    8.5
Name: D, dtype: object
mean:
A     5.50
B    18.00
C     7.45
D     6.25
dtype: float64
A    3
B    2
C    2
D    2
dtype: int64
A    False
B     True
C     True
D     True
dtype: bool
A    0
B    1
C    1
D    1
dtype: int64

## 丟棄遺失值
+ 您可以使用 dropna 方法再搭配 axis 參數方式進行搭配。
+ 默認情況下，預設為 axis = 0，也就是會沿著 Rows 進行，當發現到任何值為 NA 就會整個 Row 刪除。
+ 若加入參數 how=‘all’ 代表整個 Row 資料都是遺失值情況下才可以刪除丟棄。
+ 加入參數 thresh=N 代表刪除包含少於 N 個觀察值的 row。

In [8]:
import pandas as pd
import  numpy as np
from io import  StringIO
csv_data='''
A,B,C,D,E
2,3,4,5,
6,34,6,
10,,11,8,
,,,
3,,3,,
,5,,,
'''
drop=pd.read_csv(StringIO(csv_data))
print(drop)
print('沿著row進行刪除，只要有遺失值就刪除')
drop1=drop.dropna(axis=0)#只要一個Row是Nan就移除
print(drop1)

print('沿著column進行刪除，只要有遺失值就刪除')
drop2=drop.dropna(axis=1)#因為每一欄都有NaN所以沒資料
print(drop2)

drop3=drop.dropna(axis=0,how='all')# 所有都是Nan才移除
print(drop3)

      A     B     C    D   E
0   2.0   3.0   4.0  5.0 NaN
1   6.0  34.0   6.0  NaN NaN
2  10.0   NaN  11.0  8.0 NaN
3   NaN   NaN   NaN  NaN NaN
4   3.0   NaN   3.0  NaN NaN
5   NaN   5.0   NaN  NaN NaN
沿著row進行刪除，只要有遺失值就刪除
Empty DataFrame
Columns: [A, B, C, D, E]
Index: []
沿著column進行刪除，只要有遺失值就刪除
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]
      A     B     C    D   E
0   2.0   3.0   4.0  5.0 NaN
1   6.0  34.0   6.0  NaN NaN
2  10.0   NaN  11.0  8.0 NaN
4   3.0   NaN   3.0  NaN NaN
5   NaN   5.0   NaN  NaN NaN

In [15]:
import pandas as pd
import  numpy as np
from io import  StringIO
csv_data='''
A,B,C,D,E
2,3,4,5,
6,34,6,
10,,11,8,
,,,
3,,3,,
,5,,,
'''
drop=pd.read_csv(StringIO(csv_data))
print(drop)
print("==================================")
drop4=drop.dropna(thresh=3)#非缺失值(有數值的)<thresh移除
print(drop4)
drop5=drop.dropna(axis=1,thresh=4)#非缺失值(有數值的)<thresh移除
print(drop5)
print("==================================")
drop5=drop.dropna(subset=['C','D'])# c跟d欄位都不是NaN的顯示
print(drop5)
drop.dropna(subset=['C','D'],inplace=True)# c跟d欄位都不是NaN的顯示
print(drop)

      A     B     C    D   E
0   2.0   3.0   4.0  5.0 NaN
1   6.0  34.0   6.0  NaN NaN
2  10.0   NaN  11.0  8.0 NaN
3   NaN   NaN   NaN  NaN NaN
4   3.0   NaN   3.0  NaN NaN
5   NaN   5.0   NaN  NaN NaN
==================================
      A     B     C    D   E
0   2.0   3.0   4.0  5.0 NaN
1   6.0  34.0   6.0  NaN NaN
2  10.0   NaN  11.0  8.0 NaN
      A     C
0   2.0   4.0
1   6.0   6.0
2  10.0  11.0
3   NaN   NaN
4   3.0   3.0
5   NaN   NaN
==================================
      A    B     C    D   E
0   2.0  3.0   4.0  5.0 NaN
2  10.0  NaN  11.0  8.0 NaN
      A    B     C    D   E
0   2.0  3.0   4.0  5.0 NaN
2  10.0  NaN  11.0  8.0 NaN

## 填充遺失值
+ 可使用 fillna 函數進行填充
  + 輸入要填充的數值
    + 補上中位數：建議補上中位數而非平均值，這樣相對來說不會受到極端值的影響。
    + 根據原本的資料分布補上亂數。
+ 以下兩種方式可以向後或者向前進行填充
   + pad/ffill          代表向後填充
   + bfill/backfill   代表向前填充

In [36]:
import pandas as pd
import  numpy as np
from io import  StringIO
csv_data='''
A,B,C,D,E
2,3,4,5,
6,34,6,
10,,11,8,
,,,
3,,3,,
,5,,,
'''
fill=pd.read_csv(StringIO(csv_data))
print(fill)
fill_zero = fill.fillna(0)
print(fill_zero)
#延軸0填 0
fill_zero2 = fill.fillna(0,axis=0,limit=2)
print(fill_zero2)
print("================================")
#延軸1填 0
fill_zero2 = fill.fillna(0,axis=1,limit=2)
print(fill_zero2)

print("-------3--------")
fill2=fill.ffill()# 如果當前欄位是NaN  向上一筆同欄直到非NaN的值 寫入目前欄位
print(fill2)
fill3 = fill.bfill()# 如果當前欄位是NaN  向下一筆同欄直到非NaN的值 寫入目前欄位
print(fill3)

      A     B     C    D   E
0   2.0   3.0   4.0  5.0 NaN
1   6.0  34.0   6.0  NaN NaN
2  10.0   NaN  11.0  8.0 NaN
3   NaN   NaN   NaN  NaN NaN
4   3.0   NaN   3.0  NaN NaN
5   NaN   5.0   NaN  NaN NaN
      A     B     C    D    E
0   2.0   3.0   4.0  5.0  0.0
1   6.0  34.0   6.0  0.0  0.0
2  10.0   0.0  11.0  8.0  0.0
3   0.0   0.0   0.0  0.0  0.0
4   3.0   0.0   3.0  0.0  0.0
5   0.0   5.0   0.0  0.0  0.0
      A     B     C    D    E
0   2.0   3.0   4.0  5.0  0.0
1   6.0  34.0   6.0  0.0  0.0
2  10.0   0.0  11.0  8.0  NaN
3   0.0   0.0   0.0  0.0  NaN
4   3.0   NaN   3.0  NaN  NaN
5   0.0   5.0   0.0  NaN  NaN
================================
      A     B     C    D    E
0   2.0   3.0   4.0  5.0  0.0
1   6.0  34.0   6.0  0.0  0.0
2  10.0   0.0  11.0  8.0  0.0
3   0.0   0.0   NaN  NaN  NaN
4   3.0   0.0   3.0  0.0  NaN
5   0.0   5.0   0.0  NaN  NaN
-------3--------
      A     B     C    D   E
0   2.0   3.0   4.0  5.0 NaN
1   6.0  34.0   6.0  5.0 NaN
2  10.0  34.0  11.0  8.0 NaN
3  10.0  34.0  11.0  8.0 NaN
4   3.0  34.0   3.0  8.0 NaN
5   3.0   5.0   3.0  8.0 NaN
      A     B     C    D   E
0   2.0   3.0   4.0  5.0 NaN
1   6.0  34.0   6.0  8.0 NaN
2  10.0   5.0  11.0  8.0 NaN
3   3.0   5.0   3.0  NaN NaN
4   3.0   5.0   3.0  NaN NaN
5   NaN   5.0   NaN  NaN NaN

In [44]:
import pandas as pd
import  numpy as np
from io import  StringIO
csv_data='''
A,B,C,D,E
2,3,4,5,
6,34,6,
10,,11,8,
,,,
3,,3,,
,5,,,
'''
fill=pd.read_csv(StringIO(csv_data))
print(fill.info())

fillmean1=fill.median()
print(fillmean1)
for k in fill:
    fill[k].fillna(fillmean1.loc[k],inplace=True)
print(fill)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       3 non-null      float64
 2   C       4 non-null      float64
 3   D       2 non-null      float64
 4   E       0 non-null      float64
dtypes: float64(5)
memory usage: 372.0 bytes
None
A    4.5
B    5.0
C    5.0
D    6.5
E    NaN
dtype: float64
      A     B     C    D   E
0   2.0   3.0   4.0  5.0 NaN
1   6.0  34.0   6.0  6.5 NaN
2  10.0   5.0  11.0  8.0 NaN
3   4.5   5.0   5.0  6.5 NaN
4   3.0   5.0   3.0  6.5 NaN
5   4.5   5.0   5.0  6.5 NaN

### 檢查重複

In [48]:
import pandas as pd
import  numpy as np
from io import  StringIO
csv_data='''
A,B,C,D
2,3,5,5
5,5,5,5
5,5,5,5
13,23,5,5
'''
df2=pd.read_csv(StringIO(csv_data))
print(df2)
print(df2.duplicated())
print(df2.duplicated("A"))#A欄重複
print(df2.duplicated("D"))#D欄重複

    A   B  C  D
0   2   3  5  5
1   5   5  5  5
2   5   5  5  5
3  13  23  5  5
0    False
1    False
2     True
3    False
dtype: bool
0    False
1    False
2     True
3    False
dtype: bool
0    False
1     True
2     True
3     True
dtype: bool

### 丟棄重複值的資料

In [53]:
import pandas as pd
import  numpy as np
from io import  StringIO
csv_data='''
A,B,C,D
5,5,5,5
2,3,5,5
5,5,5,5
13,23,5,5
'''
df2=pd.read_csv(StringIO(csv_data))
print(df2)
df3 =  df2.drop_duplicates(keep="last")
print("===================================")
print(df3)
print("===================================")
df3 =  df2.drop_duplicates(keep=False)
print(df3)
print("===================================")
df3 =  df2.drop_duplicates()
print(df3)

    A   B  C  D
0   5   5  5  5
1   2   3  5  5
2   5   5  5  5
3  13  23  5  5
===================================
    A   B  C  D
1   2   3  5  5
2   5   5  5  5
3  13  23  5  5
===================================
    A   B  C  D
1   2   3  5  5
3  13  23  5  5
===================================
    A   B  C  D
0   5   5  5  5
1   2   3  5  5
3  13  23  5  5

In [59]:
import pandas as pd
import  numpy as np
from io import  StringIO
csv_data='''
A,B,C,D
5,5,5,5
2,3,5,5
5,5,5,5
13,23,5,5
'''
df2=pd.read_csv(StringIO(csv_data))
print(df2)
print("===========================")
df3 = df2.drop_duplicates(subset=["C","D"])
print(df3)
print("===========================")
df3 = df2.drop_duplicates(subset=["C","D"],keep="last")
print(df3)
print("===========================")
df3 = df2.drop_duplicates(subset=["C","D"],keep=False)
print(df3)
print("===========================")
print("===========================")
df3 = df2.drop_duplicates(subset=["A","B"])
print(df3)
print("===========================")
df3 = df2.drop_duplicates(subset=["A","B"],keep="last")
print(df3)
print("===========================")
df3 = df2.drop_duplicates(subset=["A","B"],keep=False)
print(df3)

    A   B  C  D
0   5   5  5  5
1   2   3  5  5
2   5   5  5  5
3  13  23  5  5
===========================
   A  B  C  D
0  5  5  5  5
===========================
    A   B  C  D
3  13  23  5  5
===========================
Empty DataFrame
Columns: [A, B, C, D]
Index: []
===========================
===========================
    A   B  C  D
0   5   5  5  5
1   2   3  5  5
3  13  23  5  5
===========================
    A   B  C  D
1   2   3  5  5
2   5   5  5  5
3  13  23  5  5
===========================
    A   B  C  D
1   2   3  5  5
3  13  23  5  5

## Pand群組

In [62]:
import pandas as pd
import numpy as np
company=["A","B","C"]
data1=pd.DataFrame(
{"company":[company[x] for x in np.random.randint(0,len(company),20)],
"salary":np.random.randint(5,50,20),
"age":np.random.randint(15,50,20)}    
)
print(data1)

   company  salary  age
0        A      25   38
1        C      39   45
2        C       6   34
3        C      12   43
4        C      41   24
5        B      29   29
6        B      22   26
7        C      21   39
8        B      26   47
9        B      48   18
10       A      30   33
11       C       9   40
12       C      29   45
13       A      25   26
14       B      13   16
15       A      46   22
16       B      24   24
17       A       6   41
18       A      37   40
19       A      41   25

In [70]:
group = data1.groupby("company")
print(group)

print(list(group))
print("==========sum==========")
print(group.sum())
print("==========mean==========")
print(group.mean())
print("=========max===========")
print(group.max())
print("=========min===========")
print(group.min())
print("====================")
print(group.std())

#print(group.var())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001DB99E7B4D0>
[('A',    company  salary  age
0        A      25   38
10       A      30   33
13       A      25   26
15       A      46   22
17       A       6   41
18       A      37   40
19       A      41   25), ('B',    company  salary  age
5        B      29   29
6        B      22   26
8        B      26   47
9        B      48   18
14       B      13   16
16       B      24   24), ('C',    company  salary  age
1        C      39   45
2        C       6   34
3        C      12   43
4        C      41   24
7        C      21   39
11       C       9   40
12       C      29   45)]
==========sum==========
         salary  age
company
A           210  225
B           162  160
C           157  270
==========mean==========
            salary        age
company
A        30.000000  32.142857
B        27.000000  26.666667
C        22.428571  38.571429
=========max===========
         salary  age
company
A            46   41
B            48   47
C            41   45
=========min===========
         salary  age
company
A             6   22
B            13   16
C             6   24
====================
            salary        age
company
A        13.241349   7.819390
B        11.627553  11.093542
C        14.281190   7.502381